<head>
    <title>Noughts & Crosses .io</title>
    <link rel="shortcut icon" href="img/favicon.ico"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/RegLogin.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="/socket.io/socket.io.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>