<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <div class="parent">
        <div class="div1"><%- include('../partials/navigation') %></div>
        <div class="div2"><h2>About</h2></div>
        <div class="div3"></div>
        <div class="div4">
            <div class="Purpose">
                <h2>Purpose of the Website</h2>
                <p>My website lets a user Register and Login, then play a 2 player game of Noughts and Crosses 
                    with anyone from all over the world.</p>
            </div>
            <div class="Node.js">
                <h2>Node.js</h2>
                <p>The backend is powered by <a href="https://nodejs.org/en/">Node.js</a></p>
            </div>
            <div class="Express.js">
                <h2>Express.js</h2>
                <p><a href="https://expressjs.com/">Express.js</a> deals with the routing and express-sessions deal with logging and keeping a user logged in.</p>
            </div>
            <div class="EJS">
                <h2>EJS</h2>
                <p><a href="https://ejs.co/">EJS</a> is used to dynamically provide information to the display. This is used for when the user is logged in.</p>
            </div>
            <div class="MongoDB">
                <h2>MongoDB Atlas</h2>
                <p>MongoDB is the database used to store and retrieve user data. It is hosted on <a href="https://www.mongodb.com/cloud/atlas">MongoDB Atlas</a> as I couldn't run it locally on Heroku.</p>
            </div>
            <div class="Socket.io">
                <h2>Socket.io</h2>
                <p><a href="https://socket.io/">Socket.io</a> is used to create the Multiplayer Noughts and Crosses game.</p>
            </div>
            <div class="Github">
                <h2>Github</h2>
                <p>Github Link: <a href="https://github.com/1805675-CraigRobertson/EnterpriseWebCoursework">https://github.com/1805675-CraigRobertson/EnterpriseWebCoursework</a></p>
            </div>
        </div>
        <div class="div5"></div>
        <div class="div6"><%- include('../partials/foot') %></div>
    </div>
</body>
</html>