<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
        td {
            height: 120px;
            width: 120px;
            text-align: center;
            vertical-align: middle;
        }
        table, tr, td{
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <div id="game">
    </div>

</body>

</html>

<script>
$(document).ready(function () {
    var XorO = 'X';
    let available = [];

    let board = [
        ['', '', ''],
        ['', '', ''],
        ['', '', '']
    ];

    for (let j = 0; j < 3; j++) {
        for (let i = 0; i < 3; i++) {
            available.push([i, j]);
        }
    }

    generateGame3x3(board);

    function generateGame3x3(board){
        $('#game3x3').remove();
        var table = $('<table id="game3x3">')
        for (i = 0; i < 3; i++) {
            var tr = $('<tr>')
            for (j = 0; j < 3; j++) {
                var td = $('<td>').text(board[i][j]).attr('id','row' + j +'col' + i);
                tr.append(td)
            }
            table.append(tr)
        }
        $('#game').append(table)
    }


    function updateGameGrid(){
        let table = $('game3x3');
        let updatedBoard = [
            ['', '', ''],
            ['', '', ''],
            ['', 'X', '']
        ];
        
        for (i = 0; i < 3; i++) {
            for (j = 0; j < 3; j++) {
                updatedBoard[j][i] = $('#row'+i+"col"+j).text()
            }
        }
        board = updatedBoard;
        return board
    }

    $("td").on('click',function() {
        var classs = $(this).attr('id');
        $('#'+classs).text(XorO);
        updateGameGrid()
        console.log(checkWinner());
    });


    function equals3(a, b, c) {
        return a == b && b == c && a != '';
    }


    function checkWinner() {
        console.log(board)
        let winner = null;

        var count = 0;
        for(i=0;i<3;i++){
            for(j=0;j<3;j++){
                if(board[i][j] == ""){
                    count++;
                }
            }
        }
        console.log(count)

        // horizontal
        for (let i = 0; i < 3; i++) {
            if (equals3(board[i][0], board[i][1], board[i][2])) {
            winner = board[i][0];
            }
        }

        // Vertical
        for (let i = 0; i < 3; i++) {
            if (equals3(board[0][i], board[1][i], board[2][i])) {
            winner = board[0][i];
            }
        }

        // Diagonal
        if (equals3(board[0][0], board[1][1], board[2][2])) {
            winner = board[0][0];
        }
        if (equals3(board[2][0], board[1][1], board[0][2])) {
            winner = board[2][0];
        }

        if (winner == null && count == 0) {
            return 'tie';
        } else {
            return winner;
        }
    }

})
</script>